<h1>Registration Template</h1>

<%= form_for @conn, "/register", [as: :register], fn(f) -> %>
  <%= text_input f, :email %> <br/>
  <%= password_input f, :password %> <br/>
  <%= submit "Register" %>
<% end %>
