<h1>Login</h1>

<%= form_for @conn, "/login", [as: :login], fn(f)-> %>
  <%= text_input f, :email, placeholder: "Email" %> <br/>
  <%= password_input f, :password, placeholder: "Password" %> <br/>
  <%= submit "Login" %>
<% end %>
